* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}


html, body {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.png");
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #385A8D;
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.35;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0px;
  /* display: flex;
  flex-direction: column; */
}

/*Text Style*/
html h1, html h2, html h3, html p, body h1, body h2, body h3, body p {
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  /* width: 100%; */
  margin: 0;
}

html h1 {
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
}

html h2 {
  font-size: 32px;
  color: #355079;
  margin: 10px 0 20px 0;
}

.h2-underline {
  padding: 0 10px 6px 10px;
  background: linear-gradient(to right, #C3D8DB, #C3D8DB);
  background-position: 0 0.45em;
  background-repeat: repeat-x;
  background-size: 1px 26px;
}

html h3 {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

html p {
  margin:0;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  line-height: 1.7em;
  text-align: center;
  margin: 10px 0 40px 0;
}

.nav-text {
    font-family: "Noto Sans TC", sans-serif;
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #355079;
}

.footer-title {
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #82ABA9;
  margin-bottom: 20px;
}

.footer-text {
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: #82ABA9;
  margin-bottom: 20px;
}

.btn-text {
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  /* width: 100%; */
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  /* color: #000000; */
  color: #355079;
}

/* Link style */
a {
  text-decoration: none;
}

.link {
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.link:hover {
  text-decoration: none;
  opacity: 0.5;
}

/* Button style */
.btn {/***********響應式待修改***********/
  background-image: url("../img/btn-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 2.5vh 3.5vw 2.5vh 3.5vw;
  margin: 0 0.5vw 0 0.5vw;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.btn:hover {
  transform: translateY(-4px);
}

.btn:active {
  transform: translateY(4px);
}

/* Layout*/
/* All pages */
 .nav-parent {
   position: fixed;
   width: 100%;
   z-index: 999;
 }

 #nav-bar {
   width: 100%;
   background-color: #FFFFFF;
   display: -webkit-flex;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   -webkit-align-items: center;
   align-items: center;
   padding: 0px 10vw 0px 10vw;
   height: 56px;
 }

nav #nav-left {
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}

nav #nav-logo {
  display: flex;
  align-items: center;
}

nav #nav-logo img {
  display: flex;
  align-items: center;
  width: auto;
  height: 48px;
}

nav #nav-right {
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

nav #nav-right ul {
  display: flex;
  align-items: center;
}

 nav #nav-right ul li {
   list-style: none;
   padding: 0;
   margin-left: 30px;
 }

 nav #nav-right ul li a {
   padding: 0 2px 0 2px;
 }

 header {
   display: flex;
   justify-content: center;
   padding: 160px 0px 100px 0px;
 }

 main {
   display: flex;
   flex-direction: column;
   margin: 0px 10% 7% 10%;
   background-color: rgba(255, 255, 255, 0.5);
   padding-bottom: 40px;
 }

 .box {
   margin: 0 15px 0 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 footer {
   display: flex;
   justify-content: center;
   background-image: url("../img/ftr-bg.png");
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: 100% 100%;
   padding: 4% 0 7% 0;
   /* color: #82ABA9; */
   text-align: center;
 }

.social-links {
  margin: 0 5px 0 5px;
  width: 32px;
  height: auto;
}


/************************
         Homepage
 ************************/
#work-intro {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/hp-work-intro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#work-intro p {
  width: 45%;
}

#hangee-intro {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hangee-intro-left {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hangee-intro-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


#hangee-intro-right {
  width: 50%;
  height:400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/hp-hangee-intro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#team-intro {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#team-intro-left {
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/team-intro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#team-intro-right {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/************************
        Team Intro
 ************************/
#team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 #team img {
   width: 100%;
   height: auto;
 }

#team-intro-detail {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#team-intro-detail h2 {
  margin-top: 10vh;
}

#team-intro-detail {
  width: 50%
}

.profile-pic {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

#member-intro {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#member-intro h3 {
  margin: 10px 0 0 0;
}

.profile-box {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 15px 0;
}


#row-1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

#row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#row-2-1 {
  display: flex;
  justify-content: center;
}

#row-2-2 {
  display: flex;
  justify-content: center;
}

/************************
        Work Intro
 ************************/
#concept {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#concept p {
  width: 45%;
}

#concept h3 {
  width: 45%;
}

#story {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#story p {
  width: 45%;
}

#hangee {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

 #hangee-content {
   width: 80%;
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

#hangee-left {
  width: 40%;
}

#hangee-left img {
  width: 100%;
  height: auto;
}

#hangee-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#hangee-right p {
  margin-bottom: 15px;
}

#hangee-right img {
  width: 45%;
  margin: 0 5px 0 5px;
}

/*

#hangee-right p {
  align-self: flex-start;
  margin-left: 10px;
}

#hangee-right img {
  margin: 0 5px;
} */

#scene {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#scene img {
  width: 80%;
  height: auto;
  margin: 20px 0;
}

#scene-text {
  width: 50%;
}

/************************
        Aurora
 ************************/
#aurora-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  margin: 30px 0;
}

#aurora-pics {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
}

.snapshot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.2%;
  margin: 30px 1% 30px 1%;
}

.snapshot-title {
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #355079;
}

#aurora-pics img {
  width: 100%;
}

#load-btn {
  display: flex;
  justify-content: center;
  margin: 30px;
}

/*******************************
      Individual Aurora Page
 *******************************/
#aurora-sing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aurora-sing-above {
  width: 80%;
  margin: 80px 0 40px 0;
}

#aurora-sing-above img {
  width: 100%;
}

#aurora-sing-below {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: center;
}



/*************************
    Responsive Screen
**************************/

@media screen and (min-width: 1200px) {

}

@media (max-width: 1200px) {
  #member-intro {
    height: 950px;
  }

  #row-2 {
    flex-direction: column;
    width: 100%;
  }

}

@media (max-width: 1100px) {

  #hangee-intro {
    height: 800px;
    flex-direction: column-reverse;
  }

  #hangee-intro-left {
    width: 80%;
  }

  #hangee-intro-right {
    width: 80%;
    height: 280px;
    margin-bottom: 30px;
  }

  #team-intro {
    height: 800px;
    flex-direction: column;
  }

  #team-intro-left {
    width: 80%;
    height: auto;
    height: 280px;
    margin-bottom: 30px;
  }

  #team-intro-right {
    width: 80%;
  }



}

@media (max-width: 900px) {
  /* for平板，圖片寬度都滿版*/
  #nav-bar {
    padding: 0px 4vw 0px 4vw;
  }

  header {
    padding: 130px 0px 90px 0px;
  }

  #work-intro p {
    width: 70%;
  }

  footer {
    padding: 4% 0 4% 0;
  }

  .footer-title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .footer-text {
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 10px;
  }

  #concept p {
    width: 70%;
  }

  #concept h3 {
    width: 70%;
  }

  #story p {
    width: 70%;
  }

  #member-intro {
    height: 2200px;

  }

  #team-intro-detail {
    width: 70%
  }

  #row-1 {
    flex-direction: column;
    width: 100%;
  }

  #row-2-1 {
    flex-direction: column;
  }

  #row-2-2 {
    flex-direction: column;
  }

  .profile-box {
    width: 100%;
  }

  #scene-text {
    width: 70%;
  }

  #hangee-content {
    flex-direction: column;
    align-items: center;
  }

  #hangee-right {
    align-items: center;
    width: 85%;
  }

  .snapshot {
    width: 48%;
  }

}

@media (max-width: 610px) {
  /* for平板過渡到手機之間的一些版面調整*/
  .nav-text{
    font-size: 16px;
  }

  html h1 {
    font-size: 40px;
  }

  html h3 {
    font-size: 18px;
  }

  html p {
    font-size: 16px;
  }

  footer {
    background-size: cover;
  }

  .footer-title {
    font-size: 18px;
  }

  .footer-text {
    font-size: 12px;
  }

  #hangee-intro-right {
    width: 100%;
  }

  #team-intro-left {
    width: 100%;
  }

  #hangee-content {
    width: 85%;
  }

  #hangee-left {
    width: 100%;
  }

  #hangee-right {
    width: 100%;
  }

  #hangee-right img {
    width: 45%;
    margin: 0 1px 0 1px;
  }
  .snapshot {
    width: 98%;
  }

}

@media (max-width: 460px) {
  /* for手機之間*/

  html h2 {
    font-size: 28px;
    margin: 5px 0 10px 0;
  }

  html p {
    font-size: 16px;
    line-height: 1.5em;
    margin: 5px 0 20px 0;
  }

  #nav-bar {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    -webkit-align-items: center;
    align-items: center;
    height: 40px;
    z-index: 999;
  }
  .nav-text{
    font-size: 14px;
  }

  nav #nav-logo #logo-word {
    display: none;
  }

  nav #nav-logo img {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
    height: 30px;
  }


  nav #nav-right ul {
    width: 85vw;;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  nav #nav-right ul li {
    margin-left: 5px;
  }


  nav #nav-right ul li a {
    padding: 0 2px;
  }

  header {
    padding: 100px 0px 70px 0px;
  }

  #work-intro {
    height: 500px;
  }

  #work-intro p {
    width: 85%;
  }

  #hangee-intro {
    height: 650px;
  }

  #hangee-intro-left {
    width: 85%;
  }

  #team-intro {
    height: 650px;
  }

  #team-intro-right {
    width: 85%;
  }

  #concept p {
    width: 85%;
  }

  #concept h3 {
    width: 85%;
  }

  #story p {
    width: 85%;
  }

  #team-intro-detail {
    width: 85%
  }

  #member-intro {
    height: 1900px;
  }

  #hangee h2 {
    font-size: 24px;
  }


}


/*
.larger-image{
  background-color: green;
  background-color: rgba(45, 45, 45, 0.1);
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  width: 500px;
  border-color: red;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  border-radius: 50%; //round
}

<form id="cat-photo-form" action="/submit-cat-photo">
  <label><input type="radio" name="indoor-outdoor" checked> Indoor</label>
  <label><input type="radio" name="indoor-outdoor"> Outdoor</label><br>
  <label><input type="checkbox" name="personality" checked> Loving</label>
  <label><input type="checkbox" name="personality"> Lazy</label>
  <label><input type="checkbox" name="personality"> Energetic</label><br>
  <input type="text" placeholder="cat photo URL" required>
  <button type="submit">Submit</button>
</form>

An element's padding controls the amount of space between the element's content and its border.
An element's margin controls the amount of space between an element's border and surrounding elements.
If you set an element's margin to a negative value, the element will grow larger.


.blue-box {}
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-right: 20px;
  //Clockwise Notation:
  //padding: top right bottom left;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-right: 20px;
  //Clockwise Notation:
  //margin: top right bottom left;
  //px or em
}

[type='radio'] {
  margin: 20px 0px 20px 0px;
}

Override: !important > inline style > id > css declaration sequence

//CSS Variable 應用在media query做responsive的時候
:root { //cascading
  --penguin-skin: gray;
  --penguin-belly: pink;
  --penguin-beak: orange;
}
 .penguin-top {
   background: var(--penguin-skin, black);
 }

 text-align: justify; causes all lines of text except the last line to meet the left and right edges of the line box.
 text-align: center; centers the text
 text-align: right; right-aligns the text
 text-align: left; (the default) left-aligns the text.
 font-weight: bold;
 text-decoration: underline;
 text-decoration: line-through;
 font-style: italic;
 text-transform: uppercase;
 line-height: 20px;
 box-shadow: offset-x, offset-y, blur-radius, spread-radius and color value;
    The blur-radius and spread-radius values are optional.
 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 opacity: 0.7;
 A pseudo-class is a keyword that can be added to selectors, in order to select a specific state of the element.

CSS Box Model: Normal Flow
block element?(header,p) inline element?(pictures)
set inline element to block item:
display: block;
position: relative/absolute/fixed
float: left;
z-index: 99999//layer
margin: auto;


//transform
transform: scale(2);
transform: skewX(-32deg);

@media (max-width: 100px) {
  img {
  max-width: 100%;
  display: block;
  height: auto;
  }
  //viewport units:
  vw: 10vw would be 10% of the viewport's width.
  vh: 3vh would be 3% of the viewport's height.
  vmin: 70vmin would be 70% of the viewport's smaller dimension (height vs. width).
  vmax: 100vmax would be 100% of the viewport's bigger dimension (height vs. width).
}
To make your images appear "retina", define their width and height values as only half of what the original file is.

//flex
display: flex;
flex-direction: row/column/row-reverse/column-reverse;
justify-content: center/flex-start/flex-end/space-between/space-around;
align-items: center/flex-start/flex-end/stretch/baseline;
flex-wrap: nowrap/wrap/wrap-reverse;
flex: 1 1 auto/150px; (flex-shrink/flex-grow/flex-basis)
order: 1;

//grid
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: auto 50px 10% 2fr 1fr;
*/
