/*Text Style*/
body {
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-color: #385A8D;
  margin: 0;
}

.h1 {
  font-size: 48px;
  color: #FFFFFF;
}

.h2 {
  font-size: 32px;
  color: #355079;
  padding: 0;
  line-height: 1em;
  text-align: center;
  margin-top: 2vh;

}

.h2-underline {
  padding: 0 10px 6px 10px;
  background: linear-gradient(to right, #C3D8DB, #C3D8DB);
  background-position: 0 0.45em;
  background-repeat: repeat-x;
  background-size: 1px 26px;
}

.h3 {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.p {
  font-size: 16px;
  color: #000000;
  line-height: 1.7em;
}

.footer-text {
  font-size: 12px;
  color: #000000;
}

.btn-text {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}
/* Link style */
.link {
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.link:hover {
  text-decoration: none;
  opacity: 0.5;
}

.btn {
  background-image: url("../img/btn-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 2.5vh 3.5vw 2.5vh 3.5vw;
  margin: 0 0.5vw 0 0.5vw;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.btn:hover {
  transform: translateY(-4px);
}

.btn:active {
  transform: translateY(4px);
}

 /* Layout*/
 /* All pages */
 main {
   display: flex;
   flex-direction: column;
   margin: 0px 10% 0px 10%;
   background-color: rgba(255, 255, 255, 0.5);
   margin-bottom: 7%;
 }
 header {
   display: flex;
   justify-content: center;
   padding: 5% 0 5% 0;
 }

 nav {
   background-color: #FFFFFF;
 }

 #navbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0 10% 0 10%;
   height: 8vh;
 }

#nav-brand {
  display: flex;
  align-items: flex-start;
}

#nav-hangee img {
  height: 6vh;
  width: auto;
}

 #nav-item {
   display: flex;
 }

 nav ul {
  list-style: none;
}

 nav ul li {
   margin-left: 3vw;
 }

 .box {
   margin: 0 20px 0 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 footer {
   display: flex;
   justify-content: center;
   background-image: url("../img/ftr-bg.png");
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: 100% 100%;
   padding: 4% 0 7% 0;
   color: #82ABA9;
   text-align: center;
 }

.social-links {
  margin: 0 0.7vw 0 0.7vw;
}


 /* Homepage*/
#work-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/hp-work-intro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 80vh;
}

.hp-p {
  width: 20vw;
  line-height: 1.7em;
  margin: 0 0 3vw 0;
}

#hangee-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57vh;
}
#hangee-intro-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 40vh;
}

#hangee-intro-right {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 40vw;
  height: 40vh;
}

.crop-image {
  flex-shrink: 0;
  width: 100%;
  height: auto;
}

#team-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57vh;
}

#team-intro-left {
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow: hidden;
  width: 40vw;
  height: 40vh;
}

#team-intro-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 40vh;
}

/* Team Intro*/
#team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0 50px 0;
}

#team h2 {
  margin: 40px 0 20px 0;
}

#team p {
  width: 30vw;
  height: 15vh;
  text-align: center;
}

#member-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#member-intro h3 {
  margin: 10px 0 0 0;
}

#member-intro p {
  margin: 5px 0 0 0;
}

#row-01 {
  display: flex;
  margin: 40px 0 20px 0;
}

#row-02 {
  display: flex;
  margin: 20px 0 60px 0;
}

.individual {

}

/* Work Intro*/
#concept {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#concept p {
  width: 30vw;
  height: 40vh;
  text-align: center;
}

#story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#story p {
  width: 30vw;
  height: 25vh;
  text-align: center;
}

#hangee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hangee-content {
  display: flex;
  justify-content: center;
  margin: 20px 0 50px 0;
}

#hangee-right p {
  align-self: flex-start;
  margin-left: 10px;
}

#hangee-right img {
  margin: 0 5px;
}

#scene {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#scene img {
  width: 60vw;
  height: auto;
  margin: 20px 0;
}

#scene h3 {
  margin: 0;
}
/* Aurora */
#aurora-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snapshot {
  margin: 14px 14px;
}

#search {
  margin: 30px 0;
}

#load-btn {
  margin: 30px;
}
/* Aurora 01*/
#aurora-sing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#aurora-sing-right {
  display: flex;
}

#aurora-sing-right p {
  margin-bottom: 50px;
  align-self: flex-start;
}

